@keyframes appear {
            from {
                opacity: 0;
                clip-path: inset(100% 100% 0 0);
            }
            to {
                opacity: 5;
                clip-path: inset(0 0 0 0);
            }
        }

        .block-animate {
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 60% cover 20%;
        }

        body {
            background-image: url(images/bg5.png);
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Times New Roman', Times, serif;
            
        }
       
      h3{
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 10px;
            
         }
       
        h1{
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        text-align: center;
        background: linear-gradient(to right,#fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-gradient 1.5s linear infinite ;
        }
        @keyframes animate-gradient {
        to{
            background-position: 200%;
        }
    }

    /* Added for mobile responsiveness */
    @media (max-width: 700px) {
        body {
            font-size: 16px; /* Reduce base font size on mobile */
        }
        h1 {
            font-size: 2rem; /* Adjust h1 size on mobile */
        }
        h3 {
            font-size: 1.5rem; /* Adjust h3 size on mobile */
        }
    }