
        
        body {
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Times New Roman', Times, serif;
            background-image: url(images/bg5.png);
        }

        .description-list li::before {
            content: '\1F537';
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        .qty-container {
            box-shadow: 2px 2px 7px 2px rgba(100, 95, 69, 0.5);
        }


h1,h2 {
    font-family: 'Times new roman', serif;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(to left,#91f802,#ffffff,#e600f6,#e298c8,#fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite ;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
